{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <h3>Welcome, {{ user.firstName }}!</h3>
    <h4><span class="badge bg-primary">Your referral code: {{ user.referralCode }}</span></h4>
    <br><hr>
    {% if referred_users %}
        <h5>Referred Users:</h5>
        <ul>
            {% for user in referred_users %}
                <li>{{ user.referred_email }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h5>No users referred yet.</h5>
    {% endif %}

{% endblock %}